<body>
<div ng-controller = 'sessionController'>
<div ng-controller = 'showQController'>
<a href="#/dashboard">Home</a>
<a href="#/question/{{question.question[0]._id}}/new_answer">Answer this Question</a>
<a href="/logout">Logout</a>

<h1>{{question.question[0].content}}</h1>
<h2>{{question.question[0].description}}</h2>
<div ng-repeat='x in question.question[0]._answer'>
<h3>{{x.user}}:</h3> 
<h4>"{{x.content}}"</h4>
<p>{{x.description}}</p>
<br>
<button ng-click = 'like(question.question[0]._id)'>Like</button>
<hr>




	
</div>
</div>

</div>

</div>


</body>
</html>